*.js
!tailwind.config.js
!postcss.config.js
!jest.config.js
*.d.ts
node_modules/
__pycache__/
.ruff_cache/
.husky/
.mypy_cache/
.pytest_cache/

*.key
*.pem

# CDK asset staging directory
.cdk.staging
cdk.out/
cdk.context.json

# Misc
.idea
.vscode
.venv
.DS_Store
*.iml
*.code-workspace

# Coverage Statistic Folders
coverage

# Model Cache Folders
/models
# Deployment configuration file
config.yaml
config-custom.yaml
