*.js
!tailwind.config.js
!postcss.config.js
!jest.config.js
!esbuild.js
!eslint.config.js
*.d.ts
node_modules/
/build
/dist
__pycache__/
.ruff_cache/
.husky/
.mypy_cache/
.pytest_cache/
*.key
*.pem
TIKTOKEN_CACHE

# CDK asset staging directory
.cdk.staging
cdk.out/
cdk.context.json
lib/rag/ingestion/ingestion-image/build

# Misc
.idea
.vscode
.venv
.DS_Store
*.iml
*.code-workspace
.cursor
memory-bank/
.sync_state

# Coverage Statistic Folders
coverage

# Model Cache Folders
/models
# Deployment configuration file
config.yaml
config-custom.yaml
/.coverage

# Test Artifacts
/cypress/videos
/cypress/screenshots
