{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "none",
  "useTabs": false,
  "tabWidth": 4,
  "semi": true,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "semi": true,
        "parser": "json",
        "tabWidth": 2
      }
    }
  ]
}
