boto3>=1.34.131
botocore>=1.34.131
langchain==0.2.10
langchain-community==0.2.9
langchain-openai==0.1.8
opensearch-py==2.6.0
pgvector==0.2.5
psycopg2-binary==2.9.9
pypdf==4.3.1
python-docx==1.1.0
requests-aws4auth==1.2.3
urllib3<2
