aioboto3==13.4.0
aiobotocore==2.18.0
aiohttp==3.12.15
backoff==2.2.1
boto3==1.36.0
cachetools==5.5.0
click==8.1.7
cryptography==46.0.1
fastapi==0.115.11
fastapi_utils==0.8.0
gunicorn==23.0.0
litellm[proxy]==1.77.4
loguru==0.7.2
pydantic==2.11.9
PyJWT==2.10.1
text-generation==0.7.0
prisma==0.13.1
pynacl==1.5.0
starlette==0.47.2
uvicorn==0.37.0
