[project]
name = "lisapy"
version = "6.0.0"
description = "A simple SDK to help you interact with LISA. LISA is an LLM hosting solution for AWS dedicated clouds or ADCs."
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "pydantic>=2.0.0",
    "langchain",
    "langchain-core",
    "langchain-community",
    "langchain-openai",
    "toml",
]

[tool.poetry]
name = "lisapy"
version = "6.0.0"
description = "A simple SDK to help you interact with LISA. LISA is an LLM hosting solution for AWS dedicated clouds or ADCs."
authors = ["Steve Goley <sgoley@amazon.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
pydantic = "^2.11.9"
langchain = "0.3.27"
langchain-core = "0.3.76"
langchain-community = "0.3.30"
langchain-openai = "0.3.33"
langchain-text-splitters = "0.3.11"
numpy = "<2.0.0"
toml = "*"

[tool.poetry.group.dev.dependencies]
boto3 = "*"
ipykernel = "^6.25.2"

[tool.poetry.group.test.dependencies]
pytest = "^8.3.2"
pytest-asyncio = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
addopts = "--strict-markers -vv -x"
markers = [
    "asyncio: Async tests",
]
testpaths = [
    "tests/"
]
