name: Make Hotfix Branch
on:
  workflow_dispatch:
    inputs:
      source_tag:
        description: 'Starting Tag'
        required: true
      dest_tag:
        description: 'New Tag'
        required: true

permissions:
  contents: read  # Default read-only

jobs:
  MakeNewBranch:
    runs-on: ubuntu-latest
    permissions:
      contents: write       # Required for branch creation
      id-token: write       # Required for AWS authentication
      pull-requests: write  # Required for creating PRs
    steps:
      - name: Checkout Source Tag
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4
        with:
          ref: refs/tags/${{ github.event.inputs.source_tag }}
      - name: Create Hotfix Branch and Update Version
        run: |
          git config --global user.email "evmann@amazon.com"
          git config --global user.name "github_actions_lisa"
          SRC_TAG=${{ github.event.inputs.source_tag }}
          DST_TAG=${{ github.event.inputs.dest_tag }}
          git checkout -b hotfix/${{ github.event.inputs.dest_tag }}
          sed -i -e "s/\"version\": \"${SRC_TAG:1}\"/\"version\": \"${DST_TAG:1}\"/g" package.json
          sed -i -e "s/\"version\": \"${SRC_TAG:1}\"/\"version\": \"${DST_TAG:1}\"/g" lib/user-interface/react/package.json
          sed -i -e "s/version = \"${SRC_TAG:1}\"/version = \"${DST_TAG:1}\"/g" lisa-sdk/pyproject.toml
          sed -i -e "s/${SRC_TAG:1}/${DST_TAG:1}/g" VERSION
          git commit -a -m "Updating version for hotfix ${{ github.event.inputs.dest_tag }}"
          git push origin hotfix/${{ github.event.inputs.dest_tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.LEAD_ACCESS_TOKEN }}
      - name: Draft Pull Request
        run: |
          gh pr create -d --title "Hotfix ${{github.event.inputs.dest_tag}} into Main" --body "Hotfix ${{github.event.inputs.dest_tag}} PR into Main" --base main --head hotfix/${{ github.event.inputs.dest_tag }}
        env:
          GH_TOKEN: ${{ github.token }}
